$box-shadow: 0 0 4px 2px rgba(#000,.1);

#cookiebar {
  text-align: center;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 99998; // one below WP's admin bar

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100vw;
    height: 100vh;
    left: 0;
    opacity: .35;
  }

  .inner {
    margin-right: auto;
    margin-left: auto;
    padding: 1em 2em;
  }

  p {
    margin: 1em 0;
  }

  a.accept-essential-cookies + * {
    margin-left: .5em;
  }

  // positioning

  &[data-position="middle"] {
    top: 0;
    bottom: 0;

    .inner {
      width: calc(100% - 2em);
      margin: 1em 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      box-shadow: $box-shadow;
    }
  }

  &[data-position="top"],
  &[data-position="bottom"] {
    box-shadow: $box-shadow;
  }

  &[data-position="top"] {
    &:before {
      top: 100%;
    }

    top: 0;
    .admin-bar & { top: 32px; }
    @media screen and (max-width:782px) { .admin-bar & { top: 46px; } }
  }

  &[data-position="bottom"] {
    bottom: 0;

    &:before {
      top: calc(100% - 100vh);
      height: calc(100vh - 100%);
    }
  }

  &.shake .inner {
    animation: shake 0.2s cubic-bezier(.19,.49,.38,.79) both;
    animation-iteration-count: 3;
    transform: translateX(0);

    @keyframes shake {
      25% { transform: translateX(-20px); }
      75% { transform: translateX(20px); }
      100% { transform: translateX(0); }
    }
  }
}