.wp-editor-wrap {
  .wp-editor-tools:first-of-type {
    margin-top: 5px;
  }

  .wp-editor-container:first-of-type {
    margin-top: -1px;
  }
}

textarea[name$="script]"] {
  width: 100%;
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-color: #c3c4c7;
  border-top: 0;
}

select[name="sid[confirmation][tag]"] {
  height: 25px;
  vertical-align: baseline;
}

label[for="custom_fontsize"] {
  margin-right: 1em;
}

#font-size-slider {
  width: 100%;
  max-width: 264px;

  .ui-slider-handle {
    &:before,
    &:after {
      position: absolute;
      top: 0;
      left: 50%;
      background-color: #aaa;
      transition: .2s background-color;
    }

    &:before {
      content: "";
      width: 10px;
      height: 10px;
      transform: rotate(45deg) translate(-130%, -70%);
    }

    &:after {
      content: attr(data-value);
      color: #fff;
      transform: translate(-50%, -135%);
      font-size: 11px;
      line-height: 1;
      padding: .35em;
      border-radius: 2px;
    }
  }

  &:hover .ui-slider-handle,
  .ui-slider-handle.ui-state-active {
    &:before,
    &:after {
      background-color: #000;
    }
  }

  display: none;
  .checked + & { display: block; }
}

input[name="sid[expires]"] + .description span {
  &:first-of-type { font-weight: bold; }
  &.error + span { display: none; }
}